{% extends "base.html" %}
{% block title %}My History{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <div class="progress mx-auto mt-4 mb-4" style="height: 50px;width: 100%">
                    <div class="progress-bar h6" role="progressbar" style="width: 66%;" aria-valuenow="66"
                         aria-valuemin="0"
                         aria-valuemax="100">Enter Parameters/Upload Image
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <img id="output" width="400" height=auto/>
                <script>
                    var loadFile = function (event) {
                        var output = document.getElementById('output');
                        output.src = URL.createObjectURL(event.target.files[0]);
                        output.onload = function () {
                            URL.revokeObjectURL(output.src) // free memory
                        }
                    };
                </script>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Upload your image:</label>
                        <input type="file" name="file" accept="image/*" onchange="loadFile(event)">

                    </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <div class="form-group">
                    <label for="LOGParameterSigma">Sigma:*</label>
                    {#                        can set maximum value in form by using "max=100"#}
                    <input type="number" class="form-control" id="LOGParameterSigma" placeholder="Enter sigma" name="sigma" required="true" value="1">
                    <small id="emailHelp" class="form-text text-muted">Sigma function: larger sigma cause less details in coloring image</small>
                    <label for="LOGParameterIntensity">Intensity:*</label>
                    <input type="number" class="form-control" id="LOGParameterIntensity" placeholder="Enter intensity" name="intensity" required="true" value="10">
                    <small id="emailHelp" class="form-text text-muted">Intensity function: intensity controls the width and intensity of the line</small>
                </div>
                <button type="submit" class="btn btn-primary">Process Algorithm</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
