<!-- Use the base template -->
{% extends "base.html" %}

{% block title %}Privacy Policy - Colbook {% endblock %}
{% block content %}
    <main>
        <div class="container bg-light">
            <br>
            <h1>Privacy Policy</h1>
            <br>
            <br>
            <h2>Why Colbook Collects Data</h2>
            <p>
                Colbook highly values every user and their information. 
                We collect information to maintain our websites and provide better services to users. <br><br><br>
            </p>
            <h2>What Data Colbook Collects</h2>
            <p>
                The information we collect is depended on your different actions. 
                When you are signing up, we will collect your account information, including username, email, and password. 
                When you are transforming images, we will collect images you uploaded and your settings. 
                When you are searching, we will collect keywords you entered.  <br><br><br>
            </p>

            <h2>How Colbook Uses Data</h2>
            <p>
                Provide, operate, and maintain our website.
                Improve, personalize, and expand our website.
                Understand and analyze how you use our website. <br><br><br>
            </p>
            <h2>Your Consent</h2>
            <p> 
                The privacy policy of Colbook outlines how Colbook uses and stores users' personal information.
                By using our websites, you are consent our privacy policy. 
                If you have any confusion, we are happy to offer any necessary helps.   <br><br><br>
            </p>

        </div>
    </main>
{% endblock %}


